<table style="width: 100%;">
    <% @graph.each do |item| %>
        <tr>
            <td style="width: 10%;text-align: right;"><%= item[:name] %></td>
            <td style="border-left: 1px solid black;" colspan="10">
                <div class="progress" style="height: 1.5625em;margin-bottom: .5em;overflow: hidden;background-color: #e5e5e5;border-radius: .0725em;text-align: center;">
                    <div class="progress-bar" style="width: <%= ((item[:value]/10)*100) %>%;float: left;height: 100%;color: #fff;background-color: #08c;box-sizing: border-box;">
                        <%= item[:value].round(1) %>
                    </div>
                </div>
            </td>
        </tr>
    <%end%>
    <tr style="padding: 0px; margin: 0px;">
        <td style="width: 10%;text-align: right;"><label style="margin-right: -8px; float: right;">0</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">1</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">2</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">3</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">4</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">5</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">6</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">7</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">8</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">9</label></td>
        <td style="width: 9%;"><label style="margin-right: -8px; float: right;">10</label></td>
    </tr>
</table>