<div class="elelment">
  <h2 id="banochi-title">Banochi</h2>
  <div class="element-main">
    <h1>Reset Password</h1><br><br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: 'change-password-form' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", onfocus: "this.placeholder = '';", onblur: "if(this.placeholder == ''){ this.placeholder = 'New Password'; }" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", onfocus: "this.placeholder = '';", onblur: "if(this.placeholder == ''){ this.placeholder = 'Confirm Password'; }" %>
      <%= f.submit "Reset Password" %>
    <% end %>
    <a href="banochi://?reset=1&email=arjieng@gmail.com"><input style="width: 100%; display: none; font-size: 2em; margin-top: 5px;" id="change-password-form-mobile" type="submit" value="Open App"></a>
  </div>
  <%= @user.email %>
</div>
<center><%= devise_error_messages! %></center>
<div class="copy-right">
  <p>© 2017 Banochi. All rights reserved
</div>

<script type="text/javascript">
  var isMobile = window.orientation > -1;
  if(isMobile){
    $("#banochi-title").css("font-size", 100);
    $(".copy-right").css("font-size", 20);
    $('#change-password-form').css('display','none');
    $('#change-password-form-mobile').css('display', 'block');
  }
</script> 