<div class="elelment">
  <h2>Banochi</h2>
  <!-- 
<div class="copy-right" >
  <p>© 2017 Banochi. All rights reserved
</div> -->

<!-- <script type="text/javascript">
  var isMobile = window.orientation > -1;
  alert(isMobile ? 'Mobile' : 'Not mobile');
</script> -->